@import "../../../shared/scss-components/mixins";

.card {
    height: 100%;
}

h5 {
    letter-spacing: 0.7px;
}

.title-hover:hover {
    @include title-hover;
}

img {
    @include image-pre-hover;
}

img:hover {
    @include image-hover;
}

button {
    letter-spacing: 0.7px;
}